<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        Store APP : Header
        @RenderSection("Header", false)
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        Footer
        @RenderSection("Footer", false)
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>